/*LAYOUT*/

body{
    background-color: grey;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
}

#container{
    background-color: darkgray;
    width: 60%;
    margin: auto;
}

h1{ font-family: 'Unna', serif;
    color: honeydew;}

h2{font-size: 3.089rem;
color: indigo;
font-size: 32px;
}


ul{
    font-size: 2.089rem;
    color: palegoldenrod;}

ol{ font-size: 2.089rem;}

p{ font-size: 2.089rem;}

/*TYPOGRAPHY*/