/*LAYOUT*/

header{
    background-color: lightgray;
}

#ingredients{
    background-color: rgb(209, 209, 178);
    width: 100%;
}

#directions{
    background-color: 22223b;
    width: 100%;
}

body{
    background-color: rgb(114, 109, 109);
    font-family: 'Unna', serif;
    font-size: 24px;
}

footer{
    background-color: granitgrey;
}

img{
    width: 28%;
    height: auto;
    float: right;
    margin: 1%;
    margin-bottom: 8%;
}

/*TYPOGRAPHY*/

p{ 
    font-size: 18px;
}

#container{
    background-color: rgb(59, 78, 59);
    width: 80%;
    margin: auto;
}

h1{ font-family: 'Unna', serif;
    color: rgb(0, 0, 0);
    font-size: 80px;
}

h2{
    font-size: 3.089rem;
    color: black;
    font-size: 32px;
    background-color: rgb(123, 146, 123);
}

ul{
    font-size: 1.589rem;
    color: black;
}

ol{ 
    font-size: 1.589rem;
}

#notes{
    font-size: 15px;
}

#rcorners3 {
    border-radius: 15px 50px 30px;;
    background: url(img/alex-motoc-QEbIgaxP7N8-unsplash.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    
  }

  #grad {
    background-image: linear-gradient(red, yellow);
  }
   
@media only screen and (max-width: 600px){
    body{background: white;}
    header{
        background-color: rgb(255, 255, 255);
    }
    img{
        width: 100%;
        height: auto;
        margin-left: 100%;
        padding-left: 2%;
    }
    h1{ font-family: 'Unna', serif;
        color: rgb(0, 0, 0);
        font-size: 40px;
    }
    ul{
        font-size: 1.389rem;
        color: black;
    }
    
    ol{ 
        font-size: 1.389rem;
    }
    
    
}
